:root{
  --bg: #0F1419;
  --bg2: #1A1F2E;
  --corazon: #FF4757;
  --vintageText: #E8E3D3
}

*{
  margin:0;
  font-family: 'Roboto' ;
}

/* Contenedor general*/
.totalbody{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  background: var(--bg);
}



.content {
  display:flex;
  overflow-x: hidden;
}


.main-content {
  flex: 1;
  background: var(--bg);
}


