footer {
  margin-top: auto;
  text-align:center;
  color: #A8A29E;
  background-color: #0b0f12;
  font-size: 0.9rem;
  border-top: 1px solid rgba(255,255,255,0.02);
  z-index: 7;
  padding-bottom: 1rem;
}

.footer-grid{
  display: grid;
  grid-template-columns: 35% 35% 30%;
  padding-left: 1rem;
  justify-items: center; 
}

.sectiontext {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  align-items: flex-start; 
  margin: 0;               
}
.footer-map {
  width: 100%;
  max-width: 100%;          
}
.footer-text {
  font-family: 'Roboto';
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    margin: 0;
}

.sectiontext h4{
  padding-bottom: 4px; 

}
.copy{
  padding-top: 1rem;
}

@media (max-width: 1024px){
  .footer-grid{
    grid-template-columns: 1fr;
    gap: .75rem;
  }

  .sectiontext {
    width: 100%;
  }

  .footer-map{
    padding-top: 0.5rem;
  }
}